# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/asset_mgmt?schema=public"

# Auth
JWT_SECRET="your-super-secret-jwt-key-change-in-production-min-32-chars"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NODE_ENV="development"